.mdl-layout {
  align-items: center;
  justify-content: center;
}

.mdl-cell {
  align-items: center;
  justify-content: center;
}

.mdl-layout__header-row {
  padding-left: 24px !important;
}

.mdl-layout__content {
  width : 100%;
}

#div-bt-full{
  width: fit-content;
}

#div-p-buttons{
  margin-left: auto;
  margin-right: auto;
  position : relative;
  height : 50vh;
  width : 50vh;
}

#div-p-form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  position : relative;
  height : 50vh;
  width : 20vh;
}


#welcome-txt{
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  position : relative;
  width : 50vh;
}


#div-p-w{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  position : relative;
  height : 50vh;
  width : 20vh;
}


